
.d2c_j8j2w2j6o {
  width: 345px;
  height: 48px;
  opacity: 1;
  background-color: rgba(201, 25, 29, 1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_wieofoukg {
  width: 315px;
  height: 24px;
  opacity: 1;
  font-size: 17px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
    