
.d2c_bgyxebiwp {
  width: 345px;
  height: 69px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_mhu0x49pa {
  width: 345px;
  height: 69px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_bk5ef4vu9 {
  width: 345px;
  height: 48px;
  opacity: 1;
  background-color: rgba(244, 244, 246, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_2j2z3yqtp {
  width: 345px;
  height: 36px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_oi7abqdbp {
  width: 345px;
  height: 24px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_s5raj5zrb {
  width: 292px;
  height: 24px;
  opacity: 1;
  font-size: 16px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(41, 39, 52, 1);
}
    
.d2c_hn4per081 {
  width: 24px;
  height: 24px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_z90g7pdpc {
  width: 6.772141456604004px;
  height: 13.280414581298828px;
  opacity: 1;
  background-color: rgba(183, 184, 196, 1);
  transform: rotate(-89.99999999999999deg);
}
    
.d2c_j0ut2nddo {
  width: 345px;
  height: 2px;
  opacity: 1;
  background-color: rgba(218, 55, 81, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_76pntv4xx {
  width: 345px;
  height: 16px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_viq1x9blg {
  width: 335px;
  height: 16px;
  opacity: 1;
  font-size: 12px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(200, 42, 67, 1);
}
    