
.gen_style_0ucdlh7n5 {
  width: 345px;
  height: 48px;
  opacity: 1;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.gen_style_f0lr3j0up {
  width: 345px;
  height: 48px;
  opacity: 1;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  border: 1.5px solid rgba(201, 25, 29, 1);
  display: flex;
}
    
.gen_style_rpabhvd1w {
  width: 315px;
  height: 24px;
  opacity: 1;
  font-size: 17px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(194, 6, 11, 1);
}
    