
.d2c_k8c3mni92 {
  width: 345px;
  height: 48px;
  opacity: 1;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_vcajvhsnb {
  width: 345px;
  height: 48px;
  opacity: 1;
  background-color: rgba(201, 25, 29, 0.10000000149011612);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  border: 1.5px solid rgba(201, 25, 29, 1);
  display: flex;
}
    
.d2c_t2lo67qiz {
  width: 315px;
  height: 24px;
  opacity: 1;
  font-size: 17px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(194, 6, 11, 1);
}
    