
.d2c_8dwnpsrnk {
  width: 86px;
  height: 48px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_a0d4ulv4r {
  width: 86px;
  height: 48px;
  opacity: 1;
  background-color: rgba(176, 0, 4, 1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_sx11fu4gv {
  width: 50px;
  height: 24px;
  opacity: 1;
  font-size: 17px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
    