
.d2c_jfsm1avvd {
  width: 86px;
  height: 48px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_57bdnkv1u {
  width: 86px;
  height: 48px;
  opacity: 1;
}
    
.d2c_2l4anveyw {
  width: 86px;
  height: 48px;
  opacity: 1;
  background-color: rgba(201, 25, 29, 1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_ox6ocgykz {
  width: 50px;
  height: 24px;
  opacity: 1;
  font-size: 17px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
    
.d2c_g3bjkmgx4 {
  width: 24px;
  height: 24px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_y77pjdvro {
  width: 24px;
  height: 24px;
  opacity: 1;
}
    
.d2c_49yze0hlf {
  width: 19.353599548339844px;
  height: 19.353599548339844px;
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 1);
  transform: rotate(-20.00000065939313deg);
}
    