
.d2c_ngk0urgsl {
  width: 345px;
  height: 72px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  align-items: flex-start;
  justify-content: center;
  border: 1.5px solid rgba(201, 25, 29, 1);
  display: flex;
}
    
.d2c_66yfjzjkx {
  width: 321px;
  height: 48px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_v2nffiixq {
  width: 24px;
  height: 24px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_6wrnkzkbb {
  width: 24px;
  height: 24px;
  opacity: 1;
}
    
.d2c_574mhklyw {
  width: 19.799999237060547px;
  height: 19.799999237060547px;
  opacity: 1;
  background-color: rgba(201, 25, 29, 1);
}
    
.d2c_wfcfbxs3e {
  width: 32px;
  height: 24px;
  opacity: 1;
  font-size: 16px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
    
.d2c_ellw84qlf {
  width: 88px;
  height: 48px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_n3ibvbat8 {
  width: 88px;
  height: 48px;
  opacity: 1;
  background-color: rgba(244, 244, 246, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_lysyte5p1 {
  width: 88px;
  height: 36px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_vr7xg47th {
  width: 88px;
  height: 24px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_3zb9czele {
  width: 64px;
  height: 24px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}
    
.d2c_c94bbwqgi {
  width: 10px;
  height: 16px;
  opacity: 1;
  font-size: 14px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
    
.d2c_342w3qn4z {
  width: 50px;
  height: 24px;
  opacity: 1;
  font-size: 24px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(41, 39, 52, 1);
}
    
.d2c_7a3nesagf {
  width: 24px;
  height: 24px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_9a5vjc0ht {
  width: 6.772141456604004px;
  height: 13.280414581298828px;
  opacity: 1;
  background-color: rgba(183, 184, 196, 1);
  transform: rotate(-89.99999999999999deg);
}
    
.d2c_3px0u20np {
  width: 88px;
  height: 2px;
  opacity: 1;
  background-color: rgba(237, 237, 241, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_7a978av4g {
  width: 32px;
  height: 24px;
  opacity: 1;
  font-size: 16px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
    
.d2c_5xfikwxct {
  width: 88px;
  height: 48px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_78mb6sedq {
  width: 88px;
  height: 48px;
  opacity: 1;
  background-color: rgba(244, 244, 246, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_5uwgx3u2r {
  width: 88px;
  height: 36px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_tv7c0me9h {
  width: 88px;
  height: 24px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_f29j5tjaj {
  width: 64px;
  height: 24px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}
    
.d2c_z5mhgczgy {
  width: 10px;
  height: 16px;
  opacity: 1;
  font-size: 14px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
    
.d2c_g6fhbx0ub {
  width: 50px;
  height: 24px;
  opacity: 1;
  font-size: 24px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(41, 39, 52, 1);
}
    
.d2c_irkuq497o {
  width: 24px;
  height: 24px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_9ggxtew9u {
  width: 6.772141456604004px;
  height: 13.280414581298828px;
  opacity: 1;
  background-color: rgba(183, 184, 196, 1);
  transform: rotate(-89.99999999999999deg);
}
    
.d2c_pqnlenfvb {
  width: 88px;
  height: 2px;
  opacity: 1;
  background-color: rgba(237, 237, 241, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_vnsy3mkdx {
  width: 32px;
  height: 24px;
  opacity: 1;
  font-size: 16px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
    
.d2c_sl8jl6k1c {
  width: 321px;
  height: 16px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 29px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_jtg0sjpzx {
  width: 16px;
  height: 16px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_d79gix54j {
  width: 16px;
  height: 16px;
  opacity: 1;
}
    
.d2c_xdvlgrta2 {
  width: 15.5px;
  height: 15.5px;
  opacity: 1;
  background-color: rgba(217, 218, 228, 1);
}
    
.d2c_6n5jwipfu {
  width: 272px;
  height: 16px;
  opacity: 1;
  font-size: 12px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(159, 160, 171, 1);
}
    