
.d2c_mzhc2fs0o {
  width: 345px;
  height: 72px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  align-items: flex-start;
  justify-content: center;
  border: 1.5px solid rgba(201, 25, 29, 1);
  display: flex;
}
    
.d2c_rct3cmw4n {
  width: 321px;
  height: 48px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_zvsad3t1l {
  width: 24px;
  height: 24px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_kmf1r0bqf {
  width: 24px;
  height: 24px;
  opacity: 1;
}
    
.d2c_fyo2txvty {
  width: 19.799999237060547px;
  height: 19.799999237060547px;
  opacity: 1;
  background-color: rgba(201, 25, 29, 1);
}
    
.d2c_goxyj6g4k {
  width: 32px;
  height: 24px;
  opacity: 1;
  font-size: 16px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
    
.d2c_an2olzl82 {
  width: 88px;
  height: 48px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_s5zdrbw3w {
  width: 88px;
  height: 48px;
  opacity: 1;
  background-color: rgba(244, 244, 246, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_6lwfhc89i {
  width: 88px;
  height: 36px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_zc11zg9j0 {
  width: 88px;
  height: 24px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_lae53z38j {
  width: 64px;
  height: 24px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}
    
.d2c_6njwm3s0v {
  width: 10px;
  height: 16px;
  opacity: 1;
  font-size: 14px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
    
.d2c_46506wo1r {
  width: 50px;
  height: 24px;
  opacity: 1;
  font-size: 24px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(41, 39, 52, 1);
}
    
.d2c_gzo6csx4p {
  width: 24px;
  height: 24px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_snuitftc3 {
  width: 6.772141456604004px;
  height: 13.280414581298828px;
  opacity: 1;
  background-color: rgba(183, 184, 196, 1);
  transform: rotate(-89.99999999999999deg);
}
    
.d2c_wowrslyf5 {
  width: 88px;
  height: 2px;
  opacity: 1;
  background-color: rgba(237, 237, 241, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_y3ef38u5l {
  width: 32px;
  height: 24px;
  opacity: 1;
  font-size: 16px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
    
.d2c_7r3rlz5qe {
  width: 88px;
  height: 48px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_xps61xd8q {
  width: 88px;
  height: 48px;
  opacity: 1;
  background-color: rgba(244, 244, 246, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_1ljhviqq5 {
  width: 88px;
  height: 36px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_q0j8mpz1i {
  width: 88px;
  height: 24px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
    
.d2c_z65l8dlfc {
  width: 64px;
  height: 24px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}
    
.d2c_mv8ex3nz1 {
  width: 10px;
  height: 16px;
  opacity: 1;
  font-size: 14px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
    
.d2c_jhi161mdq {
  width: 50px;
  height: 24px;
  opacity: 1;
  font-size: 24px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(41, 39, 52, 1);
}
    
.d2c_rlh5dksbf {
  width: 24px;
  height: 24px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_4k2bi5f8h {
  width: 6.772141456604004px;
  height: 13.280414581298828px;
  opacity: 1;
  background-color: rgba(183, 184, 196, 1);
  transform: rotate(-89.99999999999999deg);
}
    
.d2c_seykiy0j1 {
  width: 88px;
  height: 2px;
  opacity: 1;
  background-color: rgba(237, 237, 241, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_s6meq8x6k {
  width: 32px;
  height: 24px;
  opacity: 1;
  font-size: 16px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
    
.d2c_h1x3oh3lj {
  width: 321px;
  height: 16px;
  opacity: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 29px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_6li9p2ccs {
  width: 16px;
  height: 16px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
    
.d2c_lrpkj5iew {
  width: 16px;
  height: 16px;
  opacity: 1;
}
    
.d2c_uaugec1jd {
  width: 15.5px;
  height: 15.5px;
  opacity: 1;
  background-color: rgba(217, 218, 228, 1);
}
    
.d2c_lc0ge9i8b {
  width: 272px;
  height: 16px;
  opacity: 1;
  font-size: 12px;
  line-height: none;
  letter-spacing: 0;
  text-decoration: none;
  color: rgba(159, 160, 171, 1);
}
    